player-connection-mode=Listen
player-connection-guid=2496152665
player-connection-debug=1
player-connection-project-name=Bubble Cleaner
player-connection-ip=192.168.1.18
player-connection-ip=172.21.0.1
player-connection-ip=172.19.0.1
player-connection-ip=172.20.0.1
player-connection-ip=172.17.0.1
player-connection-ip=172.18.0.1
wait-for-native-debugger=0
wait-for-managed-debugger=1
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9c7568e5c2774627810885cbfb35cc5a
